.ModalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-bg-color);
  backdrop-filter: var(--modal-backdrop-blur);
  z-index: var(--z-index-modal-overlay);

  .ContentWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overscroll-behavior-y: none;
    z-index: var(--z-index-modal-content);

    .Content {
      max-width: 500px;
      width: 100%;
      border-radius: 8px;
      background-color: var(--secondary-bg-color);

      .ModalHeader {
        height: 50px;
        padding: 0 var(--modal-padding);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--hover-bg-color);

        .ModalTitle {
          font: var(--font-md);
          font-weight: bold;
        }

        .CloseButton {
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 0.5px;
          padding: 0 5px;
          background-color: var(--hover-bg-color);
        }
      }

      .ModalBody {
        padding: var(--modal-padding);
      }
    }
  }
}
