.Button {
  padding: 8px 12px;
  cursor: pointer;

  &.clear {
    background: none;
    outline: none;
    border: none;
  }

  &.outline {
    background: none;
    outline: none;
    border: 3px solid var(--primary-color);
  }
}
