@import "src/app/styles/mixins";

.Button {
  @include text-and-svg-color(var(--secondary-text-color));

  background: none;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;

  &.outline {
    background-color: var(--secondary-bg-color);
  }

  &:hover {
    @include text-and-svg-color(var(--primary-text-color));
  }
}
