.Button {
  padding: 8px 12px;
  color: var(--secondary-text-color);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--primary-text-color);
  }

  &.outline {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
  }
}
