.SideBar {
  position: fixed;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: var(--content-top-padding) var(--content-horizontal-padding) 20px;
  background-color: var(--primary-bg-color);
  border-right: 2px solid var(--secondary-bg-color);
  transition: width 0.3s ease-in-out;

  .Links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font: var(--font-md);

    .Link {
      .LinkText {
        display: block;
        width: calc(100% - 26px);
        white-space: nowrap;
        transition: opacity 0.2s ease-in-out;
      }

      & > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .ToggleButton {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 80px;
    left: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--accent-primary-color);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border: 2px solid var(--secondary-bg-color);

    &:hover,
    &:focus {
      border-color: var(--hover-bg-color);

      &::after {
        content: '<';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        transition: transform 0.3s linear;
      }
    }
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .Links {
      .Link {
        .LinkText {
          opacity: 0;
        }
      }
    }

    & .ToggleButton::after {
      transform: rotate(180deg);
    }
  }
}
