.dark {
  --primary-bg-color: #0f172a;
  --secondary-bg-color: #1e293b;
  --hover-bg-color: #334155;
  --primary-text-color: #e2e8f0;
  --secondary-text-color: #94a3b8;
  --accent-primary-color: #0ea5e9;
  --accent-secondary-color: #ff3d00;
  --overlay-bg-color: #0f172acc;
}
