.App.dark {
  --primary-bg-color: #0f172a;
  --secondary-bg-color: #1e293b;
  --tertiary-bg-color: #334155;
  --primary-text-color: #e2e8f0;
  --secondary-text-color: #94a3b8;
  --tertiary-text-color: #0ea5e9;
}
