.App.dark {
  --bg-color: #242484;
  --inverted-bg-color: #dedede;
  --primary-color: #316b06;
  --secondary-color: #5acb05;
  --inverted-primary-color: #00126b;
  --inverted-secondary-color: #003bb9;
}
