.light {
  --primary-bg-color: #fff;
  --secondary-bg-color: #94a3b81a;
  --hover-bg-color: #94a3b833;
  --primary-text-color: #0f172a;
  --secondary-text-color: #334155;
  --accent-primary-color: #0ea5e9;
  --accent-secondary-color: #ff3d00;
  --overlay-bg-color: #0f172acc;
}
