.App.light {
  --primary-bg-color: #fff;
  --secondary-bg-color: #94a3b81a;
  --tertiary-bg-color: #94a3b833;
  --primary-text-color: #0f172a;
  --secondary-text-color: #334155;
  --tertiary-text-color: #0ea5e9;
}
