.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-bg-color);
  border-bottom: 2px solid var(--secondary-bg-color);

  .NavBarContent {
    max-width: var(--content-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 var(--content-horizontal-padding);

    .Title {
      font-size: var(--font-size-lg);
    }

    .Switchers {
      margin-left: auto;
      display: flex;
      align-items: center;
      column-gap: 20px;

      & > button {
        display: flex;
      }
    }
  }
}
