.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;

  .Links {
    display: flex;
    margin-left: auto;
    gap: 20px;
  }
}
