.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--secondary-bg-color);

  .Title {
    font-size: var(--font-size-lg);
  }

  .Switchers {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;

    & > button {
      display: flex;
    }
  }
}
