@import "src/app/styles/mixins";

.AppLink {
  display: flex;
  align-items: center;
  column-gap: 6px;

  &.primary {
    @include text-and-svg-color(var(--primary-text-color));

    &:hover {
      @include text-and-svg-color(var(--accent-primary-color));
    }
  }

  &.secondary {
    @include text-and-svg-color(var(--secondary-text-color));

    &:hover {
      @include text-and-svg-color(var(--primary-text-color));
    }
  }

  &.Active {
    @include text-and-svg-color(var(--accent-primary-color));
  }
}
